@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: "Quicksand-Bold", Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "MiFuente";
  src: url("../fonts/TLCOE.ttf");
}
main {
  /*    .iframesExt {
          width:"100%";
          text-align: center;
      }*/
}
main .encabezado {
  border-radius: 25px;
  background-color: #ffcc00;
  background: linear-gradient(180deg, rgb(201, 45, 31) 50%, rgb(255, 166, 0) 100%);
  text-align: center;
  text-shadow: 1px 1px black;
  border-color: #ffffff;
  font-size: 1.4rem;
  border-style: solid;
  color: rgb(255, 255, 255);
  margin: 20px 30px 30px 30px;
  padding: 4px;
  border-width: medium;
  box-shadow: 0px 0px 0px 2px rgb(128, 128, 128);
  font-family: "MiFuente", "Quicksand-Bold", Helvetica, Arial, sans-serif, sans-serif;
}
main .subTitulo {
  color: #700004;
  font-size: 1.4rem;
  margin: 30px;
}
main .contenido {
  margin-bottom: 80px;
}
main .iframesExt iframe {
  width: 100%; /* Opcional: ajusta el ancho del iframe según tus necesidades */
  height: 400px; /* Opcional: ajusta la altura del iframe según tus necesidades */
}
@media (max-width: 768px) {
  main .iframesExt iframe {
    font-size: 0.9rem;
  }
}
@media (min-width: 769px) {
  main .iframesExt iframe {
    font-size: 1rem;
  }
}

nav div {
  padding: 0;
}
nav div .anclaLogo {
  padding: 0;
}
nav div .anclaLogo .imagenLogo {
  height: 100px;
  padding: 0;
  margin: 0;
}
nav div .anclaLogo:hover {
  background-color: #ffa600;
}
nav div .anclaLogo .selected {
  border-radius: 25px;
  box-shadow: inset 0 0 10px #ffa600;
}
nav div .nav-link:hover {
  border-radius: 25px;
  background-color: #ffa600;
}
nav div .dropdown-item:hover {
  border-radius: 25px;
  background-color: #ffa600;
}

.menu {
  box-shadow: 1px 5px 25px rgb(86, 86, 86);
  border-bottom-color: #ffffff;
  border-bottom-style: solid;
  border-bottom-width: 6px;
}

.bgmenu {
  background-color: #ffcc00;
}

.carrusel {
  margin: 15px 15px 15px 15px;
}

/* corresponderia a los h3 son agrupadores para tipos de productos */
.conjunto {
  padding-left: 4rem;
  font-size: 1.3rem;
  padding-bottom: 4px;
  text-decoration-line: underline;
}

.miniatura {
  width: 25rem;
}

.novedades {
  box-shadow: 1px 5px 25px rgb(86, 86, 86);
}

.card-img-top {
  transition: transform 1s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.achicado {
  font-size: 1.3rem;
  color: #749900;
}

/* fotos de las dueñas y de perica */
.founders, .perica {
  height: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(139, 139, 139);
}

.perica {
  height: 300px;
  border-width: 3px;
}

.newspaper {
  text-align: justify;
}

.col-form-label {
  text-shadow: 1px 1px 5px #8f8f8f;
}

.oficina {
  text-shadow: 1px 1px 0px #272727;
}

/* estilo para la caja del footer*/
footer div a {
  text-decoration: none;
  color: #ffffff;
  font-weight: initial;
  font-size: 1rem;
}
footer div a.visited {
  color: #be0d89;
}
footer div a:hover {
  text-decoration: underline;
  background-color: #749900;
}
footer div a .icon {
  color: rgb(255, 255, 255);
  vertical-align: top;
  border-color: #000000;
  border-style: inset;
  border-width: thin;
  font-size: 50px;
  display: inline-block;
  background-color: #2eb306;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  right: 0;
  bottom: 0;
}

.piePagina {
  background-color: #749900;
  text-align: center;
  font-size: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px 5px 5px 0px;
  margin-top: 15px;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

/*# sourceMappingURL=estilos.css.map */
