body{
    font-family:'Quicksand-Bold',Helvetica,Arial,sans-serif;
}


.menu {
    box-shadow: 1px 5px 25px rgb(128, 128, 128);
}

.bgmenu{
    background-color: #ffbd00;
}

.bgmenu a:hover{
    background-color:#ffa600;
}

.bgmenu img:hover{
    background-color: #ffbd00;
}

.logosize{
    height: 100px;
}

/* corresponderia a los h1 */


.encabezado {
    border-radius: 25px;
    background-color: #c92d1f;
    text-align: center;
    text-shadow: 1px 1px black;
    border-color: #ffffff;
    font-size: 1.8rem;
    border-style: solid;
    color:rgb(255, 255, 255);
    margin: 20px 30px 30px 30px;
    padding: 4px;
    border-width: medium;
    box-shadow: 0px 0px 0px 2px rgb(128, 128, 128);
}


/* corresponderia a los h2 */
.subTitulo {
    color: #700004;
    font-size: 1.2rem;
    margin: 30px;
}

.carrusel{
 padding: 15px 15px 15px 15px;
}

/* corresponderia a los h3 son agrupadores para tipos de productos */
.conjunto {
    padding-left: 4rem;
    font-size: 1.8rem;
    padding-bottom: 4px;
    text-decoration-line: underline;
}


/*alinear form columna izquierda derecha y form total mas botones con el center*/

.formIzq{
    display: inline-block;    
    width:40%;
    text-align: right;
    font-size:1.6rem;
    vertical-align: top;
}

/*para armar contenido se en nosotras*/
.imgIzq{
    width: 30%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.textoDer{
    display: inline-block;
    width: 60%;
    text-align: justify;
    font-size:1.8rem;
    vertical-align: top;
}

.imgDer{
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
}

.textoIzq{
    display: inline-block;
    width: 60%;
    text-align: justify;
    font-size:1.8rem;
}

.fullText{
    width: 100%;
    text-align: justify;
    font-size:1.8rem;
    vertical-align: top;
}

/*estilo para cajas con descripciones largas*/
.texto {
    font-size:1.8rem;
}

/*Mapa*/
.iframesExt {
    width="100%";
    text-align: center;
}

/*Estas son los thumbnails de producto*/
.miniatura{
    width: 25rem;
}

/* estilo para la caja del footer*/
.piePagina {
    background-color: #2eb306;
    text-align: center;
    font-size: 1rem;
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.piePagina a{
    text-decoration: none;
    color:#ffffff;
    font-weight: initial;
    font-size: 1rem;
}

.piePagina a.visited{
    color:#ffffff;
}

.piePagina a:hover{
    text-decoration:underline;
}

/*logo de whatsapp*/
.icon {
    color: rgb(255, 255, 255);
    vertical-align: top;
    border-color: #000000;
    border-style: inset;
    border-width: thin;
    font-size: 50px;
    display: inline-block;
    background-color: #2eb306;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position:fixed;
    right:0;
    bottom:0;
}

