* {
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 62.5%;
}

/*cabecera es el bloque de arriba de todo */

.cabecera {
    background-color: #ffbd00;
}

/*contenido es un box para separar el contenido del body de los margenes*/
.contenido {
    margin-top: 5px;
    margin-left: 5px;
    padding-left: 4rem;
}

/* funcion de carousel para la home*/
.carouselDiego {
    text-align: center;
}

/* imagen logo de el jacaranda */
.cabecera img {
    width: 90px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*menu de navegacion*/
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #7dca3e;
    border-color:rgb(255, 255, 255);
    border-style: solid;
    border-width: medium;
    border-radius: 25px;
    text-align: right;
    font-size: 3rem;
    font-weight:bold;
}
  
.menu li {
    display: inline-block;
    margin-right: 7px;
}
  
.menu li:last-child {
    margin-right: 0;
}
  
.menu li a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}
  
.menu li a:hover {
    background-color: #749900;
    color: #fff;
}

/* corresponderia a los h1 */
.tituloPrincipal {
    text-align: center;
    text-decoration: underline;
    color: #000000;
    font-size: 2.2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* corresponderia a los h2 */
.subTitulo {
    color: #c50008;
    font-size: 2rem;
    padding-bottom: 4px;
    padding-left: 2rem;
}

/* corresponderia a los h3 son agrupadores para tipos de productos */
.conjunto {
    padding-left: 4rem;
    font-size: 1.8rem;
    padding-bottom: 4px;
    text-decoration-line: underline;
}

/* novedades y lo que viene abajo es para mostrar los resultados de instagram*/
.novedades{
    text-align: center;
    width: 100%;
}

.novedades table {
    border-style: hidden;
    margin-left: auto;
    margin-right: auto;
}

.novedades table td img {
    width: 230px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/*alinear form columna izquierda derecha y form total mas botones con el center*/

.formIzq{
    display: inline-block;    
    width:40%;
    text-align: right;
    font-size:1.6rem;
    vertical-align: top;
}

.formDer{
    display: inline-block;
    width:40%;
    text-align: left;
    font-size:1.6rem;
    vertical-align: top;
}

.formCent{
    display: inline-block;
    width:100%;
    text-align: center;
    font-size:1.6rem;
    vertical-align: top;
}

/*para armar contenido se en nosotras*/
.imgIzq{
    width: 30%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.textoDer{
    display: inline-block;
    width: 60%;
    text-align: justify;
    font-size:1.8rem;
    vertical-align: top;
}

.imgDer{
    display: inline-block;
    width: 30%;
    text-align: right;
    vertical-align: top;
}

.textoIzq{
    display: inline-block;
    width: 60%;
    text-align: justify;
    font-size:1.8rem;
}

.fullText{
    width: 100%;
    text-align: justify;
    font-size:1.8rem;
    vertical-align: top;
}

/*estilo para cajas con descripciones largas*/
.texto {
    font-size:1.8rem;
}

/*Mapa*/
.iframesExt {
    width="100%";
    text-align: center;
}

/*Estas son los thumbnails de producto*/
.miniatura{
    width: 25rem;
}

/* estilo para la caja del footer*/
.piePagina {
    background-color: #7dca3e;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 5px 0px 5px 0px;
}

.piePagina a{
    text-decoration: none;
    font-weight: initial;
    font-size: 1.4rem;
}

.piePagina a:hover{
    text-decoration:underline;
}

/*logo de whatsapp*/
.icon {
    color: rgb(255, 255, 255);
    vertical-align: top;
    border-color: #000000;
    border-style: inset;
    border-width: thin;
    font-size: 50px;
    display: inline-block;
    background-color: #00bb2b;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position:fixed;
    right:0;
    bottom:0;
}

