head{
    nav{
        div{
            box-shadow: 1px 5px 25px rgb(86, 86, 86);
            border-bottom-color:#ffffff;
            border-bottom-style: solid;
            border-bottom-width: 6px;
            background-color: #ffcc00;
            a{
                padding:0;
                img{
                    height:100px;
                }
                &hover{
                    background-color: #ffcc00;
                }
        
            }
            &hover{
                border-radius: 25px;
                background-color:#ffa600;
            }

            div{
                ul{
                    li{
                        a{

                        }
                    }
                }
            }
        }
        
    }
}